h1{
        color:orangered;
        background-color:orange;
        height:50px;
        width: 250px;
        text-align: center;
      }
      img{
        width:50%;
      }
      p{
        font-size:30px;
        color: aquamarine;
        font-weight:bold;
        font-family: verdana;
      }
      #mapintro{
        color:darkgrey;
        font-size:20px;
      }
      .bangladesh{
        color: burlywood;
        font-size: 15px;
        background-color: grey;
      }
      .info{
        border: 5px solid purple;
        font-size: 15px;
        color: black;
        border-radius: 20px;
        border: 
        height: ;
        width: 25%;
        margin: 5px;
        padding: 1%;
        text-align:center;
        float: left;
        display: inline-block;
      }